    :root{
        --cor1: #F8FAFC;
        --cor2: #111827;
        --cor3: #10B981;
        --cor4: #1E3A8A;
        --cor5: #E5E7EB;
        }

        *{
        padding: 0;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        }

        body{
            background-color: #F8FAFC;
        }

        /*________________________________Cabecalho_________________________________*/

        header{
            margin-bottom: 30px;
            
        }

        header nav ul{
            display: flex;
            gap: 20px;
            margin: 20px;
            list-style: none;
        }

        header nav ul li{
            border: 1px solid var(--cor4);
            padding: 10px;
            border-radius: 6px;

        }

        header nav a{
            text-decoration: none;
            color: black;
        }

        header nav ul li:hover{
            color: white;
            cursor: pointer;
            box-shadow: 1px 1px 5px var(--cor4);
            background-color: white;
        }

        section h1{
            font-family: 'Orbitron', Arial;
            text-align: center;
            margin-top: 4rem;
            color: var(--cor4);
            font-size: 1.6rem;
        }

        .apresentacao{
            margin-top: 1.5rem;
            text-align: center;
            line-height: 2;
            margin-bottom: 50px;
        }


        /*________________________________Beneficios_________________________________*/


    .benefits {
      max-width: 960px;
      margin: 70px auto;
      padding: 0 20px;
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(260px,1fr));
      gap: 24px;
    }

    .benefit-card {
      background: white;
      border-radius: 12px;
      padding: 24px;
      box-shadow: 0 6px 15px rgba(0,0,0,0.08);
      text-align: center;
      color: var(--text-color);
      transition: transform 0.3s;
    }

    .benefit-card:hover {
      transform: translateY(-8px);
      box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    }

    .benefit-card h3 {
      font-family: Arial, Helvetica, sans-serif;
      color: var(--cor4);
      margin-bottom: 12px;
    }

    .benefit-card p {
      font-size: 1rem;
      color: #475569;
    }


                
        /*________________________________Rodape_________________________________*/
        
        .footer-simples {
        background-color: var(--cor2); /* azul escuro */
        color: var(--cor1);
        text-align: center;
        padding: 20px;
        font-size: 0.95rem;
        margin-top: 60px;
        }

        .footer-simples .footer-content p {
        margin: 6px 0;
        color: white;
        line-height: 1.7rem;
        }

        .footer-simples a {
        color: var(--cor3); /* verde destaque */
        text-decoration: none;
        }

        .footer-simples a:hover {
        text-decoration: underline;
        }

